html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
.bowsette {
  height: 100%;
}

.bowsette {
  background: #ffff66;
}

.face {
  position: relative;
  width: 300px;
  height: 370px;
  margin: 0 auto;
}

@media (min-width: 300px) and (min-height: 600px) {
  .face {
    width: 300px;
    height: 420px;
  }
}

@media (min-width: 480px) {
  .face {
    width: 480px;
    height: 640px;
  }
}

.crown .mash {
  position: absolute;
  top: 20.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(80px - 4px);
  height: 30px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: pink;
  z-index: 5;
}

@media (min-width: 480px) {
  .crown .mash {
    top: 22%;
    width: 80px;
  }
}

.crown .crown1 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  top: 18%;
  left: 37.5%;
  border-width: 0;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent #ffea00;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

@media (min-width: 480px) {
  .crown .crown1 {
    top: 20%;
    left: 46.5%;
  }
}

.crown .crown2 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  top: 18%;
  top: 19%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-width: 0 calc(25px) calc(43.30125px) calc(25px);
  border-color: transparent transparent #ffea00 transparent;
}

@media (min-width: 480px) {
  .crown .crown2 {
    top: 20%;
    top: 21%;
  }
}

.crown .crown3 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 10;
  top: 18%;
  right: 37.5%;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent #ffea00 transparent;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

@media (min-width: 480px) {
  .crown .crown3 {
    top: 20%;
    right: 46.5%;
  }
}

.crown .eye1 {
  position: absolute;
  top: 23.2%;
  width: 2px;
  height: 6px;
  background: black;
  z-index: 20;
  left: 47%;
}

@media (min-width: 480px) {
  .crown .eye1 {
    top: 24.7%;
    left: 49%;
  }
}

.crown .eye2 {
  position: absolute;
  top: 23.2%;
  width: 2px;
  height: 6px;
  background: black;
  z-index: 20;
  right: 47%;
}

@media (min-width: 480px) {
  .crown .eye2 {
    top: 24.7%;
    right: 49%;
  }
}

.horns .left {
  position: absolute;
  top: 16%;
  width: 60px;
  height: 85px;
  background: white;
  left: 22%;
  border-bottom-left-radius: 88%;
  border-bottom-right-radius: 22%;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
}

@media (min-width: 480px) {
  .horns .left {
    top: 19.5%;
    left: 42%;
    border-bottom-left-radius: 88%;
    border-bottom-right-radius: 22%;
  }
}

.horns .left:before {
  content: "";
  position: absolute;
  top: calc(-1 * 85px / 2);
  width: calc(60px * 2);
  height: 85px;
  background: #ffff66;
  left: 2%;
  border-bottom-left-radius: 50%;
}

.horns .right {
  position: absolute;
  top: 16%;
  width: 60px;
  height: 85px;
  background: white;
  right: 22%;
  border-bottom-right-radius: 88%;
  border-bottom-left-radius: 22%;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

@media (min-width: 480px) {
  .horns .right {
    top: 19.5%;
    right: 42%;
    border-bottom-right-radius: 88%;
    border-bottom-left-radius: 22%;
  }
}

.horns .right:before {
  content: "";
  position: absolute;
  top: calc(-1 * 85px / 2);
  width: calc(60px * 2);
  height: 85px;
  background: #ffff66;
  right: 2%;
  border-bottom-right-radius: 50%;
}

.eyes .left {
  position: absolute;
  top: 53%;
  width: 35px;
  height: 35px;
  background: #9be2fd;
  border-radius: calc(35px / 2);
  left: 24%;
}

@media (min-width: 480px) {
  .eyes .left {
    top: 41%;
    left: 32%;
  }
}

.eyes .right {
  position: absolute;
  top: 53%;
  width: 35px;
  height: 35px;
  background: #9be2fd;
  border-radius: calc(35px / 2);
  right: 24%;
}

@media (min-width: 480px) {
  .eyes .right {
    top: 41%;
    right: 32%;
  }
}

.eyebrows .left {
  position: absolute;
  top: 50%;
  width: 28px;
  height: calc(11.66667px - 2px);
  background: #ffea00;
  left: 25.5%;
  -webkit-transform: skew(80deg);
          transform: skew(80deg);
}

@media (min-width: 480px) {
  .eyebrows .left {
    top: 39%;
    left: 30.5%;
    -webkit-transform: skew(80deg);
            transform: skew(80deg);
  }
}

.eyebrows .right {
  position: absolute;
  top: 50%;
  width: 28px;
  height: calc(11.66667px - 2px);
  background: #ffea00;
  right: 25.5%;
  -webkit-transform: skew(-80deg);
          transform: skew(-80deg);
}

@media (min-width: 480px) {
  .eyebrows .right {
    top: 39%;
    right: 30.5%;
    -webkit-transform: skew(-80deg);
            transform: skew(-80deg);
  }
}

.cheeks .left1 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  left: 22%;
}

@media (min-width: 480px) {
  .cheeks .left1 {
    top: 48%;
    left: calc(22% + 5%);
  }
}

.cheeks .left2 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  left: 24%;
}

@media (min-width: 480px) {
  .cheeks .left2 {
    top: 48%;
    left: calc(24% + 5%);
  }
}

.cheeks .left3 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  left: 27%;
}

@media (min-width: 480px) {
  .cheeks .left3 {
    top: 48%;
    left: calc(27% + 5%);
  }
}

.cheeks .left4 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  left: 29%;
}

@media (min-width: 480px) {
  .cheeks .left4 {
    top: 48%;
    left: calc(29% + 5%);
  }
}

.cheeks .right1 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  right: 31%;
}

@media (min-width: 480px) {
  .cheeks .right1 {
    top: 48%;
    right: calc(31% + 5%);
  }
}

.cheeks .right2 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  right: 29%;
}

@media (min-width: 480px) {
  .cheeks .right2 {
    top: 48%;
    right: calc(29% + 5%);
  }
}

.cheeks .right3 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  right: 26%;
}

@media (min-width: 480px) {
  .cheeks .right3 {
    top: 48%;
    right: calc(26% + 5%);
  }
}

.cheeks .right4 {
  position: absolute;
  top: 63%;
  width: 3px;
  height: 4.375px;
  background: #f2d5cc;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  right: 24%;
}

@media (min-width: 480px) {
  .cheeks .right4 {
    top: 48%;
    right: calc(24% + 5%);
  }
}

.mouth {
  position: absolute;
  top: 67%;
  width: 120px;
  height: calc(60px - 10px);
  background: #ffe4e8;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-left-radius: 4%;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

@media (min-width: 480px) {
  .mouth {
    top: 50%;
    height: 60px;
  }
}

.fang1 {
  position: absolute;
  top: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: white transparent transparent transparent;
  left: 0%;
}

.fang2 {
  position: absolute;
  top: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: white transparent transparent transparent;
  left: 18%;
}

.fang3 {
  position: absolute;
  top: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: white transparent transparent transparent;
  right: 0%;
}

.fang4 {
  position: absolute;
  top: 0%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: white transparent transparent transparent;
  right: 20%;
}

.choker {
  position: absolute;
  top: 81%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 160px;
  height: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: black;
}

@media (min-width: 480px) {
  .choker {
    top: 60.3%;
  }
}

.choker:before {
  content: "";
  position: absolute;
  top: 81%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 160px;
  height: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 0;
  margin: calc(-1 * 10px / 2) auto 0;
  background: #ffff66;
}

@media (min-width: 480px) {
  .choker:before {
    top: 60.3%;
    top: 0;
  }
}

.choker-accent1 {
  position: absolute;
  top: 4px;
  width: calc(10px / 2);
  height: calc(10px / 2);
  background: white;
  border-radius: 50%;
  left: 15%;
}

.choker-accent2 {
  position: absolute;
  top: 4px;
  width: calc(10px / 2);
  height: calc(10px / 2);
  background: white;
  border-radius: 50%;
  left: 38%;
  top: 5px;
}

.choker-accent3 {
  position: absolute;
  top: 4px;
  width: calc(10px / 2);
  height: calc(10px / 2);
  background: white;
  border-radius: 50%;
  right: 15%;
}

.choker-accent4 {
  position: absolute;
  top: 4px;
  width: calc(10px / 2);
  height: calc(10px / 2);
  background: white;
  border-radius: 50%;
  right: 38%;
  top: 5px;
}
/*# sourceMappingURL=style.css.map */